spring:
  application:
    name: gateway-service
  cloud:
    gateway:
      server:
        webflux:
          discovery:
            locator:
              enabled: true
              lower-case-service-id: true
          routes:
            - id: user-login
              uri: lb://client-service
              predicates: 
                - Path=/login
            - id: user-create
              uri: lb://client-service
              predicates: 
                - Path=/user/create
            - id: product
              uri: lb://product-service
              predicates:
                - Path=/products/**
            - id: order
              uri: lb://order-service
              predicates:
                - Path=/order/**
            - id: payment
              uri: lb://payment-service
              predicates:
                - Path=/payment/**

eureka:
  client:
    register-with-eureka: true
    fetch-registry: true
    service-url:
      defaultZone: http://${user_eureka}:${pass_eureka}@localhost:8761/eureka/ 

logging:
  level:
    root: info
    org:
      springframework:
        cloud:
          gateway: trace
