server:
  port: 8888

spring:
  application:
    name: config-service
  cloud:
    config:
      server:
        encrypt:
          enabled: true     
        git:
          uri: https://github.com/rerazo010/microservice-config
          username: rerazo010
          password: ${git_token}
          search-paths: config-data
          default-label: main

eureka:
  client:
    service-url:
      defaultZone: http://${user_eureka}:${pass_eureka}@localhost:8761/eureka/

encrypt:
  key: ${key}

management:
  endpoints:
    web:
      exposure:
        include: "*"